* {
	font-family: 'Montserrat', sans-serif;
}

html { 
  background: url("images/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  width: 98%;
  margin: auto;
  padding-bottom: 20px;
  border-radius: 5px;
}

#welcome {
  background-color: red;
  width: 100%;
  height: 100px;
}

#dropFormAddTournament input {
	width: 100%;
}

#addTournamentButton {
	width: 100%;
	border-radius: 0px;
	font-size: 20px;
	color: black;
	background-color: rgba(56, 138, 9, 0.61);
	border-color: rgba(54, 76, 95, 0.93);
}

#addTournamentButton:hover {
	background-color: rgba(9, 66, 9, 0.49);
}

.displayHeader {
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.41);
}

.displayHeaderSingle {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.37);
  color: black;
  text-align: center;
  font-size: 16px;
  padding-top: 3px;
  height: 30px;
}

.displayHeaderSingle a {
	text-decoration: none;
}

.tournament {
  font-size: 15px;
  background-color: rgba(128, 128, 128, 0.17);
  border: 1px solid rgba(0, 0, 0, 0.02);
  text-align: center;
}

#container {
	width: 85%;
	margin: auto;
}

#margin {
	margin-top: 58px;
  padding: 5px;
}

.customButton {
	background-color: rgba(56, 138, 9, 0.61);
	border-color: rgba(54, 76, 95, 0.93);
  margin-bottom: 10px;
}

.customButton:hover {
	background-color: rgba(9, 66, 9, 0.49);
}

.deleteNav {
	display: inline-block;
  position: relative;
  padding-top: 0px;
  padding-left: 6px;
  background-color: rgba(255, 0, 0, 0);
  border: none;
  color: rgba(255, 0, 0, 0.52);
  right: 9px;
}

.deleteNav:hover {
	color: rgba(9, 66, 9, 0.49);
}

#jumboStyle {
	text-align: center;
  margin-top: 15px;
}

#imageContainer {
  background-color: rgb(238, 238, 238);
  border: solid 1px rgba(9, 9, 10, 0.11);
  height: 525px;
  overflow: none
}

.image {
	text-align: center;
  height: 75%;
  width: 100%;
}

.delete {
	background-color: rgb(187, 57, 57);
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.deleteButton {
	position: absolute;
  width: 100px;
  border-radius: 5px;
  padding: 10px;
  border: none;
  margin-top: 25px;
  color: white;
  text-align: center;
  bottom: 0px;
  margin-bottom: 0px;
}

.imageSize {
	height: 100%;
  margin-top: 15px;
}

.alert {
  margin-top: 20px;
}

@media (max-width:499px){
  .imageSize {
    width: 100%;
  }
}

@media (min-width:499px){
  body {
    width: 65%;
    margin: auto;
    padding-bottom: 20px;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

/*=====================Bootstrap Styling==================*/

.customNav {
  background-color: #000000;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-nav li a {
  color: white;
}

.navbar-default .navbar-nav li a:hover {
  color: #85B768;
  background-color: transparent;
}

.navbar-default .navbar-nav li a:focus {
  color: #85B768;
  background-color: transparent;
}

.navbar-default .navbar-brand:hover {
  color: #85B768;
  background-color: transparent;
}

.navbar-default .navbar-brand:focus {
  color: #85B768;
  background-color: transparent;
}

.default .navbar-brand:hover {
  color: #85B768;
  background-color: transparent;
}

/*.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: black;
    background-color: transparent;
}*/