<br>
<br>
<br>
<br>
<br>
<div ng-controller="UploadController as up">
  Upload single file on form submit

  <h1>Hole Number: {{up.holeNumber}}</h1>
  <h1>Hole Notes: {{up.holeNotes}}</h1>

  <form name="up.form" ng-submit="up.uploadSingle()">
    <input type="text" name="hole"  ng-model="up.holeNumber" placeholder="Hole Number">
    <input type="text" name="notes"  ng-model="up.holeNotes" placeholder="Notes">
    <input type="file"ngf-select ng-model="up.file" name="file">Select File</input>
    <button type="submit">Submit</button>
  </form>
  <!-- Upload multiple files on form submit
  <form name="main.multiForm" ng-submit="main.uploadMulti()">
    <input type="file" ngf-select ng-model="main.files" name="files" ngf-multiple="true">Select Files</div>
    <button type="submit">Submit</button>
  </form> -->

  <!-- <h1>{{up.title}}</h1>
  <li ng-repeat="image in up.uploadedImages">
    <img src="https://s3-eu-west-1.amazonaws.com/gurneytest/{{image.filename}}">
   
  </li> -->

<!--  <img src="https://s3-eu-west-1.amazonaws.com/gurneytest/uploads/57221500-db31-11e5-a4ad-ab837f683f19.png" -->

	<h1>Tournament: {{up.currentTournament.name }}</h1>
	<h2>Course: {{up.currentTournament.course}}</h2>
	<h2>Description: {{up.currentTournament.description}}</h2>
	<!-- <button ng-click="up.addImageToTourn()">Add Photos</button> -->
	<li ng-repeat="image in up.tournamentImages" data-id="{{tournament._id}}">
	  <strong>Hole: {{image.hole}}</strong>
	  <em>Notes: {{image.notes}}</em> 
    <img src="https://s3-eu-west-1.amazonaws.com/gurneytest/{{image.url}}">
	  <button class='delete' ng-click="up.deleteImage(image)">Delete</button>
	</li>
</div>
<br>
<br>
<br>
<br>
<br>

